ansible-semaphore
buildbot-docker-example-config
coredns
docker-compose-jenkins
docker-compose-loki
elastic
immich
jenkins-monitoring-ebk
mediawiki
munin
nginx-ssl
portainer
sphinx-confluence-mermaid
traefik
